<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.webServer>

        <rewrite>

            <rules>
                <rule name="codeigniterRuleOne" stopProcessing="true">

                    <match url="(index.php|robots.txt|images|test.php|assets)"
 />

                </rule>

                <rule name="codeigniterRuleTwo">

                    <match url=".*" />

                    <action type="Rewrite" url="index.php/{r:0}"
 appendQueryString="false" />

                </rule>

            </rules>

        </rewrite>

    </system.webServer>

</configuration>