/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/

.error{
    color: red;
    font-weight: bold;
}

body {
    background-color: wheat;
}

header, footer {
    background-color:yellow;
}
