/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/
//display of avatar
img.avatar {
    max-height: 250px;
    width: 150px;
}

header {
    background-color:yellow;
}

.user_menu {
    visibility: hidden;
}

.error{
    color: red;
    font-weight: bold;
}

body {
    background-color: whitesmoke;
}

footer {
    text-align: center;
    background-color:greenyellow;
}

/* Dit dient om textfields en passwordfiels in IE even lang te maken */
input {
    font-family: sans-serif; 
}

//vaste hoogte en breedte omdat de timeline langer duurt om in te laden, 
//hiermee voorkomen we dat de pagina verschuift als de timeline klaar is
#twitter-timeline {
    height: 500px;
    width: 200px;
}

h1{
    background-color: #25903b;
    color: white;
}

article{
    background: aqua;
}
//displays cursor 'hand' when hovering over title island to indicate toggle
.toggle{
    cursor: pointer;
}