/* 
    Created on : Dec 13, 2013, 4:18:17 PM
    Author     : Marijn
*/

header {
    background-color:yellow;
}

#user_menu {
    visibility: hidden;
}

.error{
    color: red;
    font-weight: bold;
}

body {
    background-color: whitesmoke;
}

footer {
    text-align: center;
    background-color:yellow;
}

//Dit dient om textfields en passwordfiels in IE even lang te maken
input {
    font-family: sans-serif;
}

#twitter-timeline {
    height: 500px;
    width: 200px;
}